/.gitattributes export-ignore
/.github export-ignore
/.cursor export-ignore
/.gitignore export-ignore
/CHANGELOG.md export-ignore
/XXX_DOCS_INTERN export-ignore
/docs export-ignore
/ecs.php export-ignore
/phpstan.neon export-ignore
/phpunit.xml.dist export-ignore
/scripts export-ignore
/tests export-ignore
