parameters:
    level: 5
    paths:
        - src
    excludePaths:
        - src/ContaoManagerPlugin.php
        - src/ContaoOpenaiAssistantBundle.php
    ignoreErrors:
        - '#Access to an undefined property Contao\\DataContainer::\$activeRecord#'
        - '#Property [a-zA-Z0-9\\_]+::\$[a-zA-Z0-9_]+ is never read, only written#'
        - '#Right side of \|\| is always false#'
        - '#Access to an undefined property Contao\\ModuleModel::\$[a-zA-Z0-9_]+#'
